body{
  background-color: grey;
}
svg{
  background-color: white;
  margin-left: 10rem;
  margin-top: 5rem;
  padding: 2rem;
}
.dot{
  stroke: black;
}
#legend{
  padding: 0.1rem;
  width: 15rem;
  height: 5rem;
  position: absolute;
  margin-left: 60rem;
  margin-top: 15rem;
  border: 1px solid black;
  white-space: pre;
}
#tooltip{
  width: 14rem;
  border: 1px solid black;
  white-space: pre-line;
  background-color: #F5F5DC;
  position: absolute;
  padding: 1rem;
  visibility: hidden;
  opacity: 1;
 
}