body{
  text-align: center;
}
span{
  color: blue;
}
span:hover{
  cursor: pointer;
}
#tooltip{
  position: absolute;
  background-color: black;
  border-radius: 1rem;
  color: white;
  padding: 1rem;
  white-space: pre-line;
  text-align:left;
  visibility: hidden;
}